# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build directories
dist/
build/

# Vite cache
.vite/

# Local environment files
.env
.env.local
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript cache
*.tsbuildinfo

# MacOS files
.DS_Store

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions